<center><h1>Some Projects I have Worked On</h1></center>
<div class="portfolio_column">
  <div class="portfolio_entry">
    <%= link_to image_tag("portfolio/blabble.png"), "http://blabble.com", :popup => ['blabble', 'width=1200,height=600'] %>
    <p class="large">
      <b>Blabble.com</b> is a "safe" place for teens to interact, it included parental controls
      so that parents could keep an eye on what their teens do online. I built the
      Parent section and the billing portion of the system
    </p>
  </div>


  <div class="portfolio_entry">
    <%= link_to image_tag("portfolio/Forge.png"), "http://forgenow.org", :popup => ['forge', 'width=1000,height=600'] %>
    <p class="large"><b>Forgenow.org</b> is a non-profit organization that allows users to make donations to
      causes in Africa. I was responsible for adding paypal payments and various other site changes the client requested.
    </p> 
  </div>


  <div class="portfolio_entry">
    <%= link_to image_tag("portfolio/Students_know.png"), "http://studentsknow.com", :popup => ['Students Know', 'width=1000,height=600'] %>
    <p class="large">
      <b>Studentsknow.com</b> is a site where students sign up for free to share education videos.  I worked with one other
         developer to deliver the entire site. 
    </p>
  </div>

</div>

<div class="portfolio_column">
  <div class="portfolio_entry">
    <%= link_to image_tag("portfolio/e2g2.png"), "http://e2g2.com", :popup => ['e2g2', 'width=1000,height=600'] %>
    <p class="large">
      <b>E2g2.com</b> is a point of licensure website. I was responsible for building a templating system so admin users
      could build the license application forms.
    </p>
    
  </div>

  <div class="portfolio_entry">
    <%= link_to image_tag("portfolio/RiledUp.png"), "http://riledup.com", :popup => ['Riled Up', 'width=1000,height=600'] %>
    <p class="large">
      <b>RiledUp.com</b> is an online debating site. Users register to create and contribute to debates. They earn experience points
      based on ratings of their posts by other users. I worked with one other developer to deliver the entire site.
    </p>
  </div>
</div>



<div style="clear:both;"></div>
<br/><br/>