<div id="footer">
  <%= link_to "Home", root_path %> &nbsp;|&nbsp;
  <a href="http://blog.oneoriginalgeek.com">Blog</a> &nbsp;|&nbsp;
  <%= link_to "Contact", contact_path%> &nbsp;|&nbsp;
  <%= link_to "Portfolio", portfolio_path%> &nbsp;|&nbsp;
  <%= link_to "Privacy Policy", privacy_path %> &nbsp;|&nbsp;
  <% unless logged_in? %>
    <%= link_to "Admin Login", login_path %> 
  <% else %>
    <%= link_to "View Comments", comments_path %> &nbsp;|&nbsp;
    <%= link_to "Admin Logout", logout_path %> 
  <% end %>
  <br/><br/>    Copyright 2008 OneOriginalGeek.com

</div> <!-- /footer -->