<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% if controller.action_name == "index" %>
    <title>OneOriginalGeek.com Home</title>
  <% elsif controller.action_name == "privacy" %>
    <title>OneOriginalGeek.com Privacy Policy</title>
  <% else %>
    <title>OneOriginalGeek.com <%= controller.action_name.capitalize %></title>
  <% end %>

  <%= stylesheet_link_tag 'style' %>
    <%#= stylesheet_link_tag 'scaffold' %>
  <%#= javascript_include_tag 'prototype'%>
  <%#= javascript_include_tag 'scriptaculous'%>
  <%#= javascript_include_tag 'lightbox'%>
</head>
<body>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

      
  <div id="floater">
    <div id="header"><span class="logo"><%= link_to(image_tag("/images/oneoriginalgeek_blue.png"), root_path) %></span></div>
<div id="menu">
<ul>
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Contact", contact_path%></li>
<li><a href="http://blog.oneoriginalgeek.com">Blog</a> </li>
<li><%= link_to "Privacy Policy", privacy_path %> </li>

</ul>
</div>
<div class="clear"></div>

    <div id="content">
      <p style="color: green"><%= flash[:notice] %></p>

      <%= yield  %>
    </div>
    <div id="footer">
        <%= link_to "Home", root_path %> &nbsp;|&nbsp;
        <%= link_to "Contact", contact_path%> &nbsp;|&nbsp;
        <a href="http://blog.oneoriginalgeek.com">Blog</a> &nbsp;|&nbsp;
        <%= link_to "Privacy Policy", privacy_path %> &nbsp;|&nbsp;
        <br/><br/>    Copyright 2008 OneOriginalGeek.com
    </div> <!-- /footer -->
  </div> <!-- floater -->
</body>
</html>
